.image-wrapper {
  text-align: center;
  img {
    border-radius: 16px;
  }
}

.ant-tag {
  padding: 5px 10px 5px 10px !important;
  margin-bottom: 5px !important;
}
.episode-wrapper {
  padding-top: 14px;
}
