@import '../assets/variables/variables';

.layout {
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: $primary;
        .title {
            margin: 0;
            color: $white;
        }
    }

    .content-wrapper {
        margin-top: 64px;
        padding: 20px;
        overflow-y: auto;
        .content {
            padding: 24px;
            //height: 100%
        }
    }


    .footer {
        text-align: center;
        color: $white;
        background-color: $primary;
    }
}
